.login-container{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0083c907;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 6rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.login-form >p{
    width: 20rem;
    height: 3rem;
    /* border: 1px solid black; */
    padding: 1rem;
    border-radius: 5px;
}




